</html>
<br>
<html lang="en">
<h1 align="center">REGISTRATION FORM</h1>
<form  action="studsave" align="center" method="post">
  <label> Id</label>
  <input type="studentid" id="studentid" name="id" ><br/>
  <br> 
  <label>name</label>
<input type="studentname" id="studentname" name="name" ><br/>
<br>
<label>Course</label>
<input type="course" id="course" name="course" ><br/>
<br>
<label>Department</label>
<input type="department" id="department" name="department" ><br/>
<br>
<label>Email Id</label>
<input type="emailid" id="emailid" name="emailid" ><br/>
<br>
<label>phone number</label>
<input type="phnno" id="phnno" name="phnno" ><br/>
<br>
<label>Password</label>
<input type="password" id="password" name="password" ><br/>
<br>
<label>Confirm Password</label>
<input type="cpassword" id="cpassword" name="cpassword" ><br/>
<br>
<label>semester</label>
<select id="semester" name="semester">
    <option>1stsemester</option>
    <option>2ndsemester</option>
    <option>3rdsemester</option>
    <option>4thsemester</option>
    <option>5thsemester</option>
    <option>6thsemester</option>
</select>
<br>
<label>academicyear</label>
<input type="academicyear" id="academicyear" name="academicyear" >
<br/>
<input type="submit" name="submit">
<input type="reset">
</form>
</body>
</html>